*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.pagewrapper{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    min-height: 620px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/20220218_115657.jpg) center no-repeat;
    background-size: cover;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.formwrapper{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.welcome{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100px;
    font-size: 25px;
    margin: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#form{
    margin: 0;
    box-sizing: border-box;
    max-width: 450px;
    border: 2px solid white;
    border-radius: 20px;
    padding: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow:1px 1px 20px rgb(255, 255, 255);
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
}
#navbar{
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 10px 0;
    background-color: rgb(230, 230, 230, 0.4);
    color: white;
}
#lnavbar>h1{
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}
#matric, #password{
    box-sizing: border-box;
    margin-top: 10px;
    outline: none;
    color: white;
    padding: 5px;
    background-color: transparent;
    border-radius: 10px;
}
#password{
    display: none;
}
#showwrapper{
    display: flex;
    flex-direction: column;
    display: none;
}
#showwrapper>div{
    display: flex;
    justify-content: center;
    font-size: 12px;
}
::placeholder{
    color: white;
}
#submit{
    box-sizing: border-box;
    margin: auto;
    margin-top: 10px;
    font-size: 15px;
    padding: 8px;
    border-radius: 10px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
}
#submit:hover{
    cursor: pointer;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
}
#alogin, #slogin{
    font-size: 15px;
    margin-top: 10px;
}
#slogin{
    display: none;
}
#alogin:hover, #slogin:hover{
    cursor: pointer;
    font-weight: bold;
}
#maintain{
    padding: 0;
    box-sizing: border-box;
    margin-bottom: 20px;
    line-height: 25px;
    text-align: center;
}
#maintain>a{
    margin: 0;
    box-sizing: border-box;
    padding: 5px 10px;
    border: 1px solid transparent;
    text-decoration: none;
    color: white;
}
#maintain>a:hover{
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    color: rgb(242, 242, 242);
    border: 1px solid white;
    border-radius: 20px;
}
#incorrect, #empty, #pincorrect{
    box-sizing: border-box;
    display: none;
    font-size: 14px;
    margin-bottom: 5px;
    color: red;
}

@media screen and (max-width: 700px) and (min-width: 320px){
    #navbar>h1{
        font-size: 25px;
    }
    .welcome{
        font-size: 20px;
    }
    #form{
        padding: 20px;
        width: 80%;
        max-width: 350px;
    }
}